h1, p {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15% 0px;
}

h1 {
    padding-bottom: 25px;
    font-size: 3.5rem;
}

p {
    padding-bottom: 25px;
}