.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.search input {
    color: #696969;
    border: none;
    margin: 0 15px;
    min-width: 880px;
}

.search input:focus {
    border: none;
    outline: 0;
}

.search i {
    padding: 15px;
    color: #696969;
    cursor: pointer;
}

.search div {
    background-color: #fff;
    border: none;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.filter div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filter div span{
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: var(--cor-btn-n);
    padding: 10px;
    text-transform: uppercase;
}

.title {
    padding: 30px 20px;
    text-transform: uppercase;
}

desc {
    background-color: #221d75;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    overflow: auto;
}

desc .nav-desc {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor-nav-2);
}

desc .nav-desc p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 4;
    padding-left: 5%;
}

desc .nav-desc .close {
    display: flex;
    padding: 27px 5%;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

desc .content .desc-banner img,
desc .content .desc-banner iframe {
    width: 100%;
    max-height: 300px;
    margin-bottom: 25px;
}

desc .content .desc-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 5%;
}

desc .content .desc-description .desc-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

desc .content .desc-description .btns {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding-bottom: 30px;
}

desc .content .desc-description .btns button {
    border: none;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
}

desc .content .desc-description .btns .btn-n {
    background-color: var(--cor-btn-n);
}

desc .content .desc-description .btns .btn-p {
    background-color: var(--cor-btn-p);
}

desc .content .desc-description .btns .btn-d {
    background-color: var(--cor-btn-d);
    cursor: not-allowed;
}