.conteudo {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    align-content: center;
    height: 10vh;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cadastro form {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    height: 80vh;
}

input { 
    width: 100%;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    border-top:none; border-bottom: 1px solid #fff; border-left: none; border-right: none;
}

input::placeholder {
    color: var(--cor-texto);
}

input:focus {
    border-top:none; border-bottom: 1px solid #fff; border-left: none; border-right: none;
}

.aceite {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
}

.aceite input {
    width: 1rem;
    margin: 0 25px 0 0;
}

.aceite input[type="checkbox"] {
    transform: scale(1.5);
}

.btn-p {
    width: 100%;
}

.footer {
    width: 100%;
}

.captcha {
    text-align: center;
    margin-top: 10%;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.btn {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cadastro h3 {
        text-align: center;
        width: 90%;
    }

    .cadastro input {
        width: 80%;
    }

    .cadastro button {
        width: 80%;
    }

    .cadastro a {
        text-align: center;
        width: 90%;
    }


}