.descricao {
    background-color: var(--cor-fundo2);
    margin: 25px;
    padding: 60px;
}

.iniciativa .descricao p {
    margin-top: 15px;
}

.iniciativa .title {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iniciativa .logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 35px;
    margin: 0 25px;
}

.iniciativa .logos img {
    max-width: 200px;
    max-height: 80px;
}

@media screen and (max-width: 600px) {
    .logos{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 60px;
    }

    .logos img {
        max-width: 100px;
        max-height: 40px;
    }

    .descricao {
        background-color: var(--cor-fundo2);
        margin: 25px;
        padding: 25px;
    }
    
    .descricao h2 {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 20px;
    }

    .descricao p {
        font-size: 15px;
    }
}