select {
    display: none;
}
option {
    display: none; 
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form h1 {
    margin: 20px 0px;
}

input, textarea {
    color: #696969;
    padding: 15px 25px;
    margin: 2px 0px;
    width: 500px;
    font-size: 1rem;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.n-caracteres {
    font-size: 0.9rem;
    margin: 0.3rem 0 1rem 0;
}

select {
    width: 554px;
    color: #261919;
    padding: 15px 25px;
    margin: 2px 0px;
}

option {
    color: #696969;
}

.form-btn {
    width: 554px;
    background-color: var(--cor-btn-n);
    color: #fff;
    border: 2px solid #696969;
}

.error-msg {
    background-color: red;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    padding: 20px 0px;
}

.correct-msg {
    background-color: green;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    padding: 20px 0px;
    text-decoration: none !important; 
}

.footer {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .form-container input {
        width: 90%;
    }
    .form-btn{
        width: 100%;
    }
}