@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
    --cor-fundo: #3c197f;
    --cor-texto: #fff;
    --cor-nav: #221d75;
}

*{
    color: var(--cor-texto);
    font-family: 'Comfortaa', cursive;
    margin: 0; padding: 0;
}

body {
    background-color: var(--cor-fundo);
}

.navbar {
    width: 100%;
    background-color: var(--cor-nav);
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.navbar div {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.navbar div img {
    width: 200px;
}
